<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mustafayusef.holidaymaster">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Tours.Select_Tour">
        </activity>
        <activity android:name=".Tours.DetailsTour"
                  android:theme="@style/HotelDTheme">
        </activity>
        <activity android:name=".Tours.Tours_main">
        </activity>
        <activity android:name=".Visa.Visa_Form2">
        </activity>
        <activity android:name=".Visa.Visa_Form1">
        </activity>
        <activity android:name=".Visa.searchVisa">
        </activity>
        <activity android:name=".dashboard">
        </activity>
        <activity android:name=".Hotels.Rooms">
        </activity>
        <activity android:name=".Hotels.Options">
        </activity>
        <activity android:name=".Hotels.mapActivity">
        </activity>
        <activity android:name=".Hotels.CheckRooms">
        </activity>
        <activity
                android:name=".Hotels.DetailsHotel"
                android:theme="@style/HotelDTheme">
        </activity>
        <activity android:name=".Hotels.ShowHotels">
        </activity>
        <activity
                android:name=".Hotels.SearchHotels"
                android:configChanges="orientation|keyboard|keyboardHidden"
                android:screenOrientation="sensor"/>
        <activity android:name=".Lottie">
        </activity>

        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-6139953451213799~1819534621"/>

        <activity android:name=".MainActivity">
        </activity>
        <activity
                android:name=".SplashScreen"
                android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Profile">
        </activity>
        <activity android:name=".tickets.DetailsTow">
        </activity>
        <activity android:name=".tickets.DetailsOne">
        </activity>
        <activity android:name=".tickets.showHoliday">
        </activity>
        <activity android:name=".dailogPass">
        </activity>
        <activity android:name=".tickets.searchActivity">
        </activity>
        <activity
                android:name=".LoginMember"
                android:label="@string/title_activity_login_member">
        </activity>
    </application>

</manifest>